body {
    background-color: #d6b07d;
}

header {
    background-color: #f5eedc;
    margin: 3vw 5vw;
    border-radius: 20px 20px;
}

header h1 {
    font-size: 5.5rem;
    font-weight: bold;
    color: #9b6240;
    text-shadow: #a0896e 4px 3px 6px;
    text-align: center;
    padding: 20px;
}

header ul{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    padding: 60px 50px;
}

header a{
    text-decoration: none;
    color: #9b6240;
    font-size: 1.4rem;
    font-weight: bold;
}
section.titulo{
    background-color: #f5eedc;
    margin: 3vw 5vw 0 5vw;
    border-radius: 20px 20px 0 0;
}
div.titulo{
    display: flex;
    justify-content: space-evenly;
}
div.titulo h1{
    font-size: 4.0rem;
    font-weight: bold;
    color: #9b6240;
    text-shadow: #a0896e 4px 3px 6px;
    text-align: left;
    padding: 8vw 1vw 1vw 0;
    width: 50%;
}
.introducao h3{
    font-size: 3.0rem;
    font-weight: bold;
    color: #9b6240;
    text-align: center;
    padding-bottom: 4vw;
}


.ultima{
    background-color: #f5eedc;
    margin: 0 5vw 3vw 5vw;
    border-radius: 0 0 20px 20px;
}
.lado h1{
    font-size: 2rem;
    font-weight: bold;
    color: #9b6240;
    text-shadow: #ca985f 2px 1px 3px;
    padding: 4vw 3vw 0vw 3vw;
}
.lado p{
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    display: block;
    width: 70%;
    padding: 2vw 3vw 2vw 3vw;
}
.lado{
    display: flex;
    justify-content: space-around;
    margin: 0 4vw;
}
.lado img{
    text-align: center;
}
.meio h1{
    font-size: 2rem;
    font-weight: bold;
    color: #9b6240;
    text-shadow: #ca985f 2px 1px 3px;
    padding: 0vw 3vw 0 3vw;
    text-align: center;
}
.meio p{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2vw 3vw 2vw 3vw;
    color: black;
    text-align: center;
}
.meio{
    margin: 0 4vw;
}


/*footer*/

footer {
    background-color: #f5eedc;
}

div.um img {
    width: 4vw;
    margin: 5px 0 0 0;
}

div.um {
    display: flex;
    justify-content: center;
}

div.dois ul {
    display: flex;
    justify-content: space-around;
}

footer p {
    display: flex;
    justify-content: center;
    margin: 1vw 0 0 0;
}

footer p img {
    width: 5vw;
}


@media only screen and (max-width: 600px) {

    
    header h1{
        font-size: 2.9rem;
        padding: 20px 20px 0 20px;
        text-shadow: #a0896e 2px 2px 5px;
        
    }
    header a{
        font-size: 0.5rem;
    }
    header ul{
        padding: 15px 18px 20px 18px;
        display: flex;
        flex-wrap: wrap;
    }
    div.titulo, .lado{
        display: block;
    }
    div.titulo h1{
        font-size: 2.5rem;
        padding: 8vw 1vw 1vw 4vw;
        width: 95%;
    }
    div.titulo img{
        width: 350px;
    }
    .introducao h3 {
        font-size: 1.5rem;
        padding: 0 3vw;
    }
    .meio{
        margin: 0vw 2vw;
        padding-top: 3vw;
    }
    .meio p{
        font-size: 1.5rem;
        text-align: left;
    }
    .meio h1{
        text-align: left;
        padding-bottom: 2vw;
    }
    .lado h1{
        text-align: left;
        padding: 0;
    }
    .lado p{
        padding: 2vw 0 0 0;
        font-size: 1.5rem;
        text-align: left;
        width: 95%;
    }
    .lado img{
        width: 330px;
    }
    footer p{
        font-size: 0.9rem;
    }
    footer p img, div.um img{
        width: 10vw;
    }
}