body{
    background-color: #d6b07d;
}
div.centro{
    background-color: #f5eedc;
    margin: 40px 40px 0 40px;
    border-radius: 40px 40px 0 0;
    padding: 30px;
}
div.img{
    background-color: #f5eedc;
    margin: 0 40px 40px 40px;
    border-radius: 0 0 40px 40px;
    display: flex;
}
div.paragrafo{
    background-color: #f5eedc;
    margin: 0 40px 0 40px;
    text-align: center;
    padding: 30px;
}
img.imagemIa{
    width: 45vw;
    height: 25vw;
    padding: 50px;
}
header h1{
    font-size: 4.7rem;
    font-weight: bold;
    text-align: center;
    color: #9b6240;
    text-shadow: #a37d67 4px 3px 6px;
    padding: 20px;
    font-weight: bold;
}
header ul{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}
header a{
    text-decoration: none;
    color: #9b6240;
    font-size: 1.4rem;
    font-weight: bold;
}
div.paragrafo p{
    font-size: 2rem;
    text-align: left;
    font-weight: bold;
    line-height: 40px;
    
}
div.img p{
     font-size: 2rem;
    text-align: left;
    font-weight: bold;
    padding: 50px;
    line-height: 40px;
}
div.video{
    display: flex;
    padding: 1vw 3vw 1vw 3vw;
    justify-content: space-around;
}
section div.video p{
    font-size: 2rem;
    line-height: 40px;
    padding: 40px;
    font-weight: bold;
    color:#000000;
    width: 90%;
}
.btn-video a{
    display: block;
  text-decoration: none;
  color: #9b6240;
  text-shadow: #a37d67 4px 3px 6px;
    background-color: #f5eedc;
  padding: 10vw 8vw;
  margin: 3vw 0;
  border: none;
  font-size: 1.8rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}
div.texto p.ultimo{
    font-size: 2rem;
    text-align: left;
    font-weight: bold;
    padding: 0vw 7vw 3vw 7vw;
    line-height: 40px;
}

footer{
    background-color: #f5eedc;
}

div.um img {
    width: 4vw;
    margin: 5px 0 0 0;
}

div.um {
    display: flex;
    justify-content: center;
}

div.dois ul {
    display: flex;
    justify-content: space-around;
}

footer p {
    display: flex;
    justify-content: center;
    margin: 1vw 0 0 0;
}

footer p img {
    width: 5vw;
}

@media only screen and (max-width: 600px) {

    
    header h1{
        font-size: 2.9rem;
        padding: 10px 10px 0 0px;
        text-shadow: #a37d67  2px 2px 5px;
        
    }
    header a{
        font-size: 0.6rem;
    }
    header ul{
        padding: 15px 18px 0px 18px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    div.img{
        margin: 0 20px 20px 20px;
        display: block;
    }
    div.video{
        display: block;
    }
    div.centro{
    margin: 20px 20px 0 20px;
    }
    div.paragrafo{
    margin: 0 20px 0 20px;
    padding: 0;
    }
    div.paragrafo p, div.img p, section div.video p, div.texto p.ultimo{
        font-size: 1.5rem;
        line-height: 30px;
        padding: 4vw;
        width: 90%;
    }
    img.imagemIa{
        width: 290px;
        height: 200px;
        padding: 20px 0 30px 30px;
    }
    footer p{
        font-size: 0.9rem;
    }
    footer p img, div.um img{
        width: 10vw;
    }
}