body {
    background-color: #a0ced9;
}

header {
    background-color: #effffe;
    margin: 40px 40px 0 40px;
    border-radius: 20px 20px 0 0;
}

.primeira{
    background-color: #effffe;
    margin: 0px 40px 40px 40px;
    border-radius: 0px 0 20px 20px;
    display: flex;
    gap: 20px;
}

.primeira ul {
    display: flex;
}

header h1 {
    font-size: 4.7rem;
    text-align: center;
    color: #2e6393;
    font-weight: bold;
    padding: 20px;
    text-shadow: #2e6393 4px 3px 6px;
}

header ul {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    padding: 60px 50px;
}

header a {
    font-size: 1.4rem;
    text-decoration: none;
    color: #2e6393;
    font-weight: bold;
}

section p{
    font-size: 1.7rem;
    line-height: 40px;
    padding: 1vw 3vw;
    font-weight: bold;
    color: #2e6393;
    margin: 1vw;
}

section p.dois {
    font-size: 1.7rem;
    line-height: 40px;
    padding: 1vw 3vw;
    font-weight: bold;
    color: #effffe;
    margin: 1vw;
}

.segunda h6 {
    text-shadow: #2e6393 4px 3px 6px;
    color: #effffe;
    text-align: center;
    font-weight: bold;
    font-size: 2.2rem;
}


section img{
    width: 35vw;
    height: auto;
    text-align: center;
}

.video iframe{
    margin: 4vw 33vw;
    border-radius: 20px;
}

/*footer*/


footer {
    background-color: #effffe;
}

div.um img {
    width: 4vw;
    margin: 5px 0 0 0;
}

div.um {
    display: flex;
    justify-content: center;
}

div.dois ul {
    display: flex;
    justify-content: space-around;
}

footer p {
    display: flex;
    justify-content: center;
    margin: 1vw 0 0 0;
    color: #2e6393;
    font-weight: bold;
}

footer p img {
    width: 5vw;
}
@media only screen and (max-width: 600px) {

    
    header h1{
        font-size: 2.9rem;
        padding: 20px 20px 0 20px;
        text-shadow: #2e6393 2px 2px 5px;
        
    }
    header a{
        font-size: 0.5rem;
    }
    header ul{
        padding: 15px 18px 20px 18px;
        display: flex;
        flex-wrap: wrap;
    }
    .primeira ul{
        display: block;
    }
    section p{
        font-size: 1.5rem;
        line-height: 30px;
    }
    section p.dois{
        font-size: 1.5rem;
        line-height: 30px;

    }
    section img{
        width: 270px;
        padding-left: 6vw;
    }
    .video  iframe{
        width: 350px;
        height: 200px;
        margin: 4vw;
    }
    .primeira{
        margin: 0px 20px 0 20px;
    }
    header{
        margin: 20px 20px 0 20px;
    }
    footer p{
        font-size: 0.9rem;
    }
    footer p img, div.um img{
        width: 10vw;
    }
}