body {
    background-color: #f5eedc;
}

.container {
  display: flex;         
  justify-content: space-between;
  align-items: flex-start; 
}

section ul {
    display: flex;
    flex-wrap: wrap;
}

section ul li {
    width: 23vw;
    height: auto;
    text-align: center;
}

section a{
    color: #427662;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5rem;
}

section ul li img {
    width: 65%;
    transition: width 3s;
}

section ul li:hover img {
    width: 80%;
    transition: width 1s;
}

ul.esquerda{
    display: flex;   
    flex-direction: column;
   align-items: flex-start;
   margin-top: 2vw;
}

ul.direita{
    display: flex;
    flex-direction: column;
   align-items: flex-start;
   margin-top: 2vw;
}
.auto{
    display: flex;
    flex-direction: column;
}
ul.cima{
display: flex;
    justify-content: space-around;
}

section h1{
    width: 50%;
    justify-content: center;
    margin: 7vw;
    color: #427662;
    font-size: 5rem;
    font-weight: bold;
    margin-left: 15vw;
}
.reverse{
    display: flex;
}


@media only screen and (max-width: 600px) {

    .container{
        display: block;
    }
    ul.cima{
        display: flex;
        justify-content: space-around;
    }
    ul.esquerda{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
     ul.direita{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 6vw;
    }
    section h1{
        font-size: 2.5rem;
        text-align: center;
        width: 90%;
        margin-left: 4vw;
        margin-top: 10vw;
        margin-bottom: 10vw;
    }
    section nav{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 30vw;
    }
    .reverse{
        flex-direction: column-reverse;
    }
    section a{
        font-size: 1.2rem;
    }
}